h2 {
  color: black;
  text-align: center;
}
ul {
  background-color: cadetblue;
}
li {
  margin: 20px;
  display: inline;
  font-size: 20px;
}
li a {
  color: black;
  text-decoration: none;
}
